.disply-card {
    background-image: url("<?php echo esc_url( plugins_url( 'admin/images/cards.png', __DIR__ ) ); ?>");
    width: 47px;
    height: 30px;
    display: block;
    background-size: cover;
}

.disply-card.visa-card {
    background-position: left;
}

.disply-card.master-card {
    background-position: right;
}

.filter-active {
    color: #000;
    text-decoration: underline;
}